header {
    height: 75px;
}

main {
    min-height: 65vh;
    background-color: rgb(27, 26, 32);
    border-top: 2px solid rgba(107, 84, 74, 0.945);
    border-bottom: 2px solid rgba(107, 84, 74, 0.945);
    padding-left: 5vw;
    padding-right: 5vw;
}

h1 {
    color: rgb(133, 114, 106);
    font-weight: bold;
}

h2 {
    font-weight: normal;
}
