.voteFormWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.voteForm {
    display: flex;
    flex-direction: column;
    min-width: 45vw;
    min-height: 25vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 255, 0.87);
    padding: 35px;
    border-radius: 5px;
    list-style: none;
    background-color: rgb(12, 41, 138);
}

.voteFormInput {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

.radioWrapper {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin-top: 1vh;
    justify-content: center;
    align-items: center;
}

.radioInput {
    appearance: none;
    transform: scale(1.5);
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: white;
}

.radioInput:checked {
    background-color: #646463;
    transform: scale(2.5);
    box-shadow: 0px 0px 10px rgba(0, 0, 255, 0.9);
}
.radioInput:checked::after {
    content: "";
    display: block;
    width: 0.63em;
    height: 0.63em;
    margin: 0.185em auto;
    border-radius: 50%;
    background: white;
}
