@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@400;500&display=swap");

body {
    background-color: rgba(2, 1, 1, 0.849);
    margin: 0;
    font-family: "Eczar", serif;
    color: rgb(231, 231, 238);
}

code {
    font-family: "Eczar", serif;
}
